body {
  background: rgba(33, 119, 250, 0.6);
}

#vizDiv,
#vizDiv2 {
  background: white;
  border-radius: 10px;
}
.time-row {
  border: 1px solid black;
}

.time {
  background: red;
  border: 1px solid black;
}

#vizDiv,
#vizDiv2 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  /*min-height: 200px;*/
  text-align: center;
  height: 40%;
}

.axis line,
.axis path {
  fill: none;
  stroke: black;
}

.d3-tip {
  text-align: center;
  background: rgba(173, 216, 230, 0.6);
}

.tip-date {
  font-weight: bold;
}

.typeDiv,
.yearDiv {
  text-align: center;
}

.yearDiv {
  color: white;
}

.yearDiv .btn {
  color: gray;
}

.dataPoint {
  fill: red;
  stroke: red;
}

.avgLine {
  stroke: rgba(72, 81, 183, 0.3) !important;
}

.clicked {
  background: rgb(18, 177, 13) !important;
  color: white !important;
}

table {
  margin: 0 auto;
  margin-top: 25px;
}

table .time {
  color: white;
}

table tbody {
  border-radius: 10px;
}

#regModal h3 {
  display: inline;
}

.dateDiv {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.dateDiv h1 {
  font-weight: bold;
}

.dateDiv p {
  color: black;
}

.schedTypeDiv {
  color: white;
  text-align: center;
}

.schedTypeDiv h4 {
  padding-top: 15px;
  margin-bottom: 10px;
}

.time-row li {
  color: rgb(61, 131, 235);
}
.time-row li:hover {
  text-decoration: underline;
}
.time-row .locations {
  background: white;
}
