.time-row {
  border: 1px solid black;
}

.time {
  background: red;
  border: 1px solid black;
}

#vizDiv {
  position: relative;
  width: 80%;
  margin: 0 auto;
  /*min-height: 200px;*/
  text-align: center;
  height: 40%;
}

.axis line,
.axis path {
  fill: none;
  stroke: black;
}

.d3-tip {
  text-align: center;
  background: rgba(173, 216, 230, 0.6);
}

.tip-date {
  font-weight: bold;
}

.graph-nav {
  /* color: blue; */
}

.graph-type {
}

h1 {
  display: inline-block;
  padding-right: 20px;
}

.graph-nav:hover {
  text-decoration: underline;
}

.yearDiv,
.typeDiv {
  text-align: center;
}

.typeDiv {
  color: blue;
}
